<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://127.0.0.1:3306/test">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/model/User.hbm.xml</value>
			</list>
		</property>
		
	</bean>
		
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userDao" class="com.dao.UserDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>

	<bean id="userService" class="com.service.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>

	<bean id="LoginAction" class="com.action.LoginAction">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="RegisterAction" class="com.action.RegisterAction">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="ActiveAccountAction" class="com.action.ActiveAccountAction">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="UserCheckAction" class="com.action.UserCheckAction">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="ForgotPasswordAction" class="com.action.ForgotPasswordAction">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="ResetPasswordAction" class="com.action.ResetPasswordAction">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="UpdatePasswordAction" class="com.action.UpdatePasswordAction">
		<property name="userService" ref="userService"></property>
	</bean>
</beans>